@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

*{
  scrollbar-width: none;
  -ms-overflow-style: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}